@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

body{
  font-family: 'Raleway', sans-serif;
  color: #333;
}

/* Two columns side by side */
.content {
    :  position: relative;
}


/* Two columns side by side */
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.text-center {
    text-align: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 450px) {
    .column {
        width: 90%;
        display: block;
    }
}


/* Some left and right padding inside the container */
.container {
    padding: 0 50px;
    image-orientation: center
}

.page-link{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-link a:hover{
  background-color: white
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: none;
}
header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

.title {
    color: pink;
}

.button:hover {
    background-color: #555;
}

.img-circle {
    border-radius: 60%
}
